{
	"extends": "eslint-config-invision",
	"env": {
		"mocha": true,
		"node": true,
		"es6": true
	},
	"parserOptions": {
			"ecmaVersion": 6,
			"sourceType": "node",
			"ecmaFeatures": {
					"impliedStrict": true
			}
	},
	"rules": {
		"no-unused-expressions": 0,
		"indent": [2, "tab"],
		"no-new": 1,
		"arrow-spacing": [2,{"before":true,"after":true}],
		"generator-star-spacing": 2,
		"no-var": 2,
		"require-yield": 2
	}
}
