# Codeship
codeship.aes
codeship-dockercfg

# Filesystem
.DS_Store

# IDE files
.idea

# VSCode files
.vscode

# Dependency directories
node_modules

# Generated Folders
coverage

# User-specific files (exclude templates)
*.env
!*.template.env

# Logs
logs
*.log
npm-debug.log

# Runtime data
pids
*.pid
*.seed

# Misc Files
ngrok
*.BAK
dump.rdb
*.orig

# Test
generated
