apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{{name}}}-deployment
  annotations:
    kit-deployer/dependency-selector: 'tier=backend,tier=config'
  labels:
    app: invisionapp
    tier: frontend
    tech: nodejs
    release: dev
spec:
  template:
    spec:
      containers:
        - name: {{{name}}}-con
          imagePullPolicy: {{{deployment.imagePullPolicy}}}
          image: {{{activity-con.image}}}
          ports:
            - containerPort: {{{deployment.containerPort}}}
          livenessProbe:
            httpGet:
              path: {{{deployment.livenessProbe.path}}}
              port: {{deployment.livenessProbe.port}}
            initialDelaySeconds: {{deployment.livenessProbe.initialDelaySeconds}}
            timeoutSeconds: {{deployment.livenessProbe.timeoutSeconds}}
          env:
          {{#activity-con.env}}
            - name: {{{name}}}
              value: {{{value}}}
          {{/activity-con.env}}
      imagePullSecrets:
      {{#imagePullSecrets}}
        - name: {{{secret}}}
      {{/imagePullSecrets}}
    metadata:
      labels:
        name: activity-pod
  replicas: {{{deployment.replicaCount}}}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: {{{deployment.rollingUpdate.maxUnavailable}}}
      maxSurge: {{{deployment.rollingUpdate.maxSurge}}}
  selector:
    matchLabels:
      name: {{{name}}}-pod
